@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-csecondary font-fontprimary
  }

  .container-base {
    @apply container mx-auto
  }
}

@layer components {
  .notes-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    @apply grid gap-5
  }

  .note-item {
    @apply min-w-[300px] flex flex-1 flex-col justify-between text-white border border-white p-5 rounded-xl
  }
}

form div:empty::before {
  content: attr(data-placeholder);
  color: gray;
}